<header class="navbar">
  <div class="container">
    <a href="/" class="logo">Nomadic Nibbles</a>
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/recipes">Recipes</a>
      <% if (!user) { %>
        <a href="/users/sign-in" class="btn login">Login</a>
        <a href="/users/sign-up" class="btn signup">Sign Up</a>
      <% } else { %>
        <a href="/profile" class="btn">My Profile</a>
        <a href="/users/sign-out" class="btn">Sign Out</a>
      <% } %>
    </nav>
  </div>
</header>
