<header class="navbar">
  <a href="/" class="logo">Nomadic Nibbles</a>
  <nav class="nav-links">
    <a href="/">Home</a>
    <a href="/recipes">All Recipes</a>
    <% if (user) { %>
      <a href="/recipes/new" class="btn">New Recipe</a>
      <a href="/profile" class="btn">Profile</a>
      <a href="/sign-out" class="btn">Sign Out</a>
    <% } else { %>
      <a href="/sign-in" class="btn login">Sign In</a>
      <a href="/sign-up" class="btn signup">Sign Up</a>
    <% } %>
  </nav>
</header>
