<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign In - Nomadic Nibbles</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-signin">
  <%- include('../partials/nav') %>
  <main class="container">
    <h1>Sign In</h1>
    <form action="/sign-in" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required>
      <button type="submit" class="btn">Sign In</button>
    </form>
  </main>
</body>
</html>
